.desktop-apps {
  padding: 20px;
}
.app-icon-container {
  width: 100px;
  height: 100px;
  position: relative;
  .app-icon-border {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border: 1pt solid rgba(6, 10, 38, 6%);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 8px -4px rgba(6, 10, 38, 6%);
    margin: auto;

    .app-icon {
      width: 25px;
      height: 25px;
      margin: auto;
    }
  }
  .app-title {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #060a26;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 0 2px rgba(31, 32, 38, 0.15);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}